{% extends 'core/base.html' %}
{% load static %}

{% block title %}Weather{% endblock %}

{% block extra_head %}
  <style>
    .weather {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .forecast-list {
      display: flex;
      flex-direction: column;
    }

    .forecast {
      display: flex;

      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      margin-bottom: 3rem;
    }

    .forecast time {
      font-size: 1.5rem;
      width: 8.5rem;
      margin-right: 2rem;
    }

    .forecast .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 2.5rem;

      width: 8rem;
    }

    .forecast .main img {
      width: 8rem;
      margin-bottom: 1rem;
    }

    .forecast .main .description {
      width: 10rem;
      text-align: center;
    }

    .temperature {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .property-group {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: center;
    }

    .property-group.location {
      height: 10rem;
    }

    .property-group.weather-properties {
      height: 6rem;
    }

    .property {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 2rem;
      margin: 0 2rem 1rem 0;
    }

    .property img {
      margin-right: 1rem;
    }

    @media only screen and (max-width: 40rem) {
      header.site h1 {
        text-align: center;
      }

      .weather {
        align-items: center;
      }

      .forecast {
        flex-direction: column;
        align-items: center;
      }

      .forecast time {
        width: auto;
        margin: 0 0 1rem 0;
      }

      .forecast .main {
        margin: 0 0 2rem 0;
      }

      .forecast .main img {
        margin-bottom: 0.25rem;
      }

      .property-group {
        margin-left: 2rem;
        align-content: center;
      }
    }

    @media only screen and (max-width: 20rem) {
      .property-group.location {
        height: auto;
        margin-top: 1rem;
        margin-bottom: 3rem;
      }

      .property-group.weather-properties {
        height: auto;
      }
    }
  </style>
{% endblock %}

{% block header_h1 %}Weather{% endblock %}

{% block main %}
  <div id='weather'></div>
{% endblock %}

{% block after_body %}
  <script type='text/babel'>
    class Property extends React.Component {
      render() {
        return <div className='property'>
          <img src={ this.props.image }/>
          <span>{ this.props.value }</span>
        </div>;
      }
    }

    class Location extends React.Component {
      render() {
        return <div className='location property-group'>
          <Property
            image='{% static "feather/map-pin.svg" %}'
            value={ this.props.data.name }/>
          <Property
            image='{% static "feather/map.svg" %}'
            value={ this.props.data.latitude.toFixed(2) + ' / ' + this.props.data.longitude.toFixed(2) }/>
          <Property
            image='{% static "feather/clock.svg" %}'
            value={ this.props.data.timezone }/>
          <Property
            image='{% static "feather/sunrise.svg" %}'
            value={ this.props.data.sunrise }/>
          <Property
            image='{% static "feather/sunset.svg" %}'
            value={ this.props.data.sunset }/>
        </div>;
      }
    }

    class Temperature extends React.Component {
      render() {
        let kelvin = this.props.temperature;
        let celsius = kelvin - 273.15;
        let fahrenheit = celsius * 1.8 + 32;

        return <div className='temperature'>
          <span>{ celsius.toFixed(0) }&deg;C</span>
          <span>{ fahrenheit.toFixed(0) }&deg;F</span>
        </div>;
      }
    }

    class VerboseWeather extends React.Component {
      render() {
        let imgSrc = null;

        switch(this.props.weather.name) {
          case 'Clear':
            switch(this.props.partOfDay) {
              case 'day':
                imgSrc = '{% static "feather/sun.svg" %}';
                break;
              case 'night':
                imgSrc = '{% static "feather/moon.svg" %}';
                break;
              default:
                console.error('Error: unknown part of day ' + this.props.partOfDay);
            }
            break;

          case 'Clouds':
            imgSrc = '{% static "feather/cloud.svg" %}';
            break;

          case 'Drizzle':
            imgSrc = '{% static "feather/cloud-drizzle.svg" %}';
            break;

          case 'Rain':
            imgSrc = '{% static "feather/cloud-rain.svg" %}';
            break;

          case 'Snow':
            imgSrc = '{% static "feather/cloud-snow.svg" %}';
            break;

          case 'Thunderstorm':
            imgSrc = '{% static "feather/cloud-lightning.svg" %}';
            break;

          case 'Ash':
          case 'Dust':
          case 'Fog':
          case 'Haze':
          case 'Mist':
          case 'Sand':
          case 'Smoke':
          case 'Tornado':
            imgSrc = '{% static "feather/cloud.svg" %}';
            break;

          default:
            console.error('Error: Unkown weather type ' + this.props.weather.name);
        }

        return <div className='main'>
          <img src={ imgSrc }/>
          <span className='description'>{ this.props.weather.description }</span>
        </div>;
      }
    }

    class Forecast extends React.Component {
      render() {
        if(this.props.data.weather.length != 1) {
          console.error('Unexpected extra weathers');
        }

        return <li className='forecast'>
          <time>{ this.props.data.timestamp_display }</time>

          <VerboseWeather
            weather={ this.props.data.weather[0] }
            partOfDay={ this.props.data.part_of_day }/>

          <div className='weather-properties property-group'>
            <Property
              image='{% static "feather/thermometer.svg" %}'
              value={ <Temperature temperature={ this.props.data.temperature }/> }/>
            <Property
              image='{% static "feather/cloud-drizzle.svg" %}'
              value={ this.props.data.probability_of_precipitation + '%' }/>
            <Property
              image='{% static "feather/cloud.svg" %}'
              value={ this.props.data.clouds_percent + '%' }/>
            <Property
              image='{% static "feather/wind.svg" %}'
              value={ this.props.data.wind_speed.toFixed(0) + 'm/s' }/>
          </div>
        </li>;
      }
    }

    class LocationManager extends React.Component {
      render() {
        let handleDelete = location => {
          delete_(
            '/api/weather/location/' + location.identifier + '/',
            {
              headers: {
                'X-CSRFToken': this.props.csrf_token
              },
              onSuccess: response => this.props.onChange()
            }
          );
        };
        return <div>
          <LocationForm onAdded={() => this.props.onChange()}/>
          <ul>
            {this.props.locations.map(l => {
              return <li key={ l.identifier }>
                { l.name }
                <button onClick={e => handleDelete(l)}>Delete</button>
              </li>;
            })}
          </ul>
          <button onClick={() => this.props.onComplete()}>Done</button>
        </div>;
      }
    }

    class LocationForm extends React.Component {
      render() {
        return <Form
            csrf_token='{{ csrf_token }}'
            requestMethod='POST'
            handler='/api/weather/location/'
            onSuccess={response => this.props.onAdded()}>
          <p>Add location</p>
          <input name='is_default' type='checkbox'></input><label htmlFor='is_default'>Make default location</label>
          <input name='name' type='text' placeholder='Name'></input>
          <input name='zip_code' type='text' placeholder='Zip'></input>
          <input name='latitude' type='number' step='0.000001' placeholder='Latitude'></input>
          <input name='longitude' type='number' step='0.000001' placeholder='Longitude'></input>
          <input type='submit'></input>
        </Form>;
      }
    }

    class LocationPicker extends React.Component {
      constructor(props) {
        super(props);
        this.state = {
          managingLocations: false,
          locations: null
        };
      }

      componentDidMount() {
        this.getLocations();
      }

      getLocations() {
        get(
          '/api/weather/location/',
          {
            onSuccess: response => this.setLocations(response)
          }
        );
      }

      setLocations(response) {
        if(response) {
          let defaultLocation = response.find(l => l.is_default) || response[0];

          if(defaultLocation) this.props.onLocationChange(defaultLocation);
        }

        this.setState({
          locations: response
        });
      }

      render() {
        if(this.state.locations === null) {
          return 'Loading...';
        }

        if(this.state.locations.length === 0 || this.state.managingLocations) {
          let onChange = () => this.getLocations();

          let onComplete = () => this.setState({ managingLocations: false });

          return <LocationManager
              csrf_token='{{csrf_token}}'
              locations={this.state.locations}
              onChange={onChange}
              onComplete={onComplete}/>;
        }

        if(this.state.locations.length === 1) {
          return <div>
            <span>Location: { this.state.locations[0].name }</span>
            <button onClick={e => this.setState({ managingLocations: true })}>Manage locations</button>
          </div>
        }

        let handleChange = e => {
          let location = this.state.locations.find(
            l => l.identifier == e.target.value
          );
          this.props.onLocationChange(location);
        };

        let defaultLocation = this.state.locations.find(l => l.is_default) || this.state.locations[0];

        return <div>
          <select defaultValue={defaultLocation.identifier} onChange={handleChange}>
            {this.state.locations.map(location =>
              <option
                  key={location.identifier}
                  onChange={handleChange}
                  value={location.identifier}>
                { location.name }
              </option>
            )}
          </select>
          <button onClick={e => this.setState({ managingLocations: true })}>Manage locations</button>
        </div>;
      }
    }

    class WeatherDisplay extends React.Component {
      constructor(props) {
        super(props);

        this.state = {
          forecasts: null
        };
      }

      componentDidMount() {
        this.getHourlyForecast();
      }

      getHourlyForecast() {
        get(
          '/api/weather/',
          {
            data: {
              latitude: this.props.location.latitude,
              longitude: this.props.location.longitude,
            },
            onSuccess: response => this.setHourlyForecast(response)
          }
        );
      }

      setHourlyForecast(response) {
        this.setState({
          location: response.location,
          forecasts: response.forecasts,
        });
      }

      render() {
        if(this.state.forecasts === null) {
          return <div>{ 'Loading...' }</div>;
        }

        return <div className='weather'>
          <Location data={ this.state.location }/>
          <ul className='forecast-list'>{
            this.state.forecasts.map(f => <Forecast key={f.timestamp} data={f}/>)
          }</ul>
          <p>
            Data from <a href='https://openweathermap.org/' target='_blank'>{'OpenWeatherMap'}</a>.
          </p>
        </div>;
      }
    }

    class Weather extends React.Component {
      constructor(props) {
        super(props);

        this.state = {
          location: null
        };
      }

      render() {
        let onLocationChange = location => {
          this.setState({
            location: location
          });
        };

        let weatherDisplay = null;

        if(this.state.location !== null) {
          weatherDisplay = <WeatherDisplay key={this.state.location.identifier}
            location={this.state.location}/>;
        }

        return <div>
          <LocationPicker onLocationChange={onLocationChange}/>
          { weatherDisplay }
        </div>;
      }
    }

    ready(() => {
      ReactDOM.render(
        <Weather/>,
        document.getElementById('weather')
      );
    });
  </script>
{% endblock %}
